/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Variables */
:root {
  --font-primary: "Open Sans", serif;
  --font-secondary: "Merriweather", serif;

  --color-primary: #763732;
  --color-secondary: #222c3d;
  --color-grey: #d3d3d3;
  --color-grey-light: #fafafa;
  --color-white: #fff;
}

/* Base */
html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-primary);
  line-height: 1.4;
  background-color: var(--color-grey-light);
}

/* Header */

header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/restaurant-ambience.jpg");
  background-size: cover;
  background-position: center top 15%;
  background-repeat: no-repeat;
}

header #navbar {
  font-size: 1.2rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px 1px var(--color-secondary);
  font-family: var(--font-secondary);
}

header #navbar .navbar-brand img {
  width: 8rem;
}

header #navbar .nav-link {
  color: var(--color-white);
}

header #navbar .nav-link:hover,
header #navbar .dropdown-menu .dropdown-item:hover {
  color: var(--color-primary);
}

header #navbar li:not(:last-child) {
  padding-right: 1.5em;
}

header #navbar .navbar-nav .active {
  color: var(--color-primary);
}
