/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Variables */
:root {
  --font-primary: "Pacifico", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --color-primary: #763732;
  --color-secondary: #222c3d;
  --color-grey: #d3d3d3;
  --color-grey-light: #fafafa;
  --color-white: #fff;

  --responsive-width: 85%;
}

/* Base */
html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-grey-light);
}

h1 {
  font-family: var(--font-primary);
  letter-spacing: 10px;
}

/* Utility classes */
.section {
  margin-top: 8rem;
}

.heading-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  width: 100%;
  margin-bottom: 7rem;
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/restaurant-ambience.jpg");
  background-size: cover;
  background-position: center top 15%;
  background-repeat: no-repeat;
}

header #navbar {
  font-size: 1.4rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px 1px var(--color-secondary);
  font-family: var(--font-primary);
  letter-spacing: 1.2px;
}

header #navbar .container-fluid {
  width: var(--responsive-width);
}

header #navbar .navbar-brand img {
  width: 10rem;
}

header #navbar .nav-link,
header #navbar .dropdown-menu .dropdown-item {
  color: var(--color-primary);
}

header #navbar .nav-link:hover {
  border-bottom: 2px solid var(--color-primary);
}

header #navbar li:not(:last-child) {
  padding-right: 1.5em;
}

header #navbar .navbar-nav .active {
  border-bottom: 2px solid var(--color-primary);
}

header #welcome-heading,
header p {
  color: var(--color-grey-light);
}

header #menu-btn {
  color: var(--color-primary);
}

header #menu-btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* Main */
/* Welcome section */
main #welcome {
  width: var(--responsive-width);
}

main #welcome h1 {
  color: var(--color-primary);
}

main #welcome p {
  color: var(--color-secondary);
}

/* Discover section */
#discover .heading-background {
  color: var(--color-white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/coffee-on-a-table.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
}

#discover .row {
  width: var(--responsive-width);
}

#discover .card .card-title {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 1.6rem;
}

#discover .card .card-text {
  color: var(--font-secondary);
}

/* Media Queries */
/* Use the display: inline-block so that the border-bottom is the same width as the nav link content */
@media only screen and (max-width: 992px) {
  header #navbar .nav-link {
    display: inline-block;
  }
}
