/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Pacifico&display=swap");

/* CSS Reset */
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

/* Variables */
:root {
  --font-primary: "Pacifico", sans-serif;
  --font-secondary: "Open Sans", sans-serif;

  --color-primary: #763732;
  --color-secondary: #222c3d;
  --color-grey: #d3d3d3;
  --color-grey-light: #fafafa;
  --color-white: #fff;

  --responsive-width: 85%;
}

/* Base */
html {
  box-sizing: border-box;
}

body {
  font-family: var(--font-secondary);
  background-color: var(--color-grey-light);
}

h1,
h2 {
  font-family: var(--font-primary);
  letter-spacing: 10px;
}

/* Utility classes */
.section {
  margin-top: 8rem;
}

.heading-background {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 7rem 0;
  width: 100%;
  margin-bottom: 7rem;
}

/* Header */
header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/restaurant-ambience.jpg");
  background-size: cover;
  background-position: center top 15%;
  background-repeat: no-repeat;
}

header #navbar {
  font-size: 1.4rem;
  backdrop-filter: blur(10px);
  box-shadow: 0 2px 5px 1px var(--color-secondary);
  font-family: var(--font-primary);
  letter-spacing: 1.2px;
}

header #navbar .container-fluid {
  width: var(--responsive-width);
}

header #navbar .navbar-brand img {
  width: 10rem;
}

header #navbar .nav-link,
header #navbar .dropdown-menu .dropdown-item {
  color: var(--color-primary);
}

header #navbar .nav-link:hover {
  border-bottom: 2px solid var(--color-primary);
}

header #navbar li:not(:last-child) {
  padding-right: 1.5em;
}

header #navbar .navbar-nav .active {
  border-bottom: 2px solid var(--color-primary);
}

header #welcome-heading,
header p {
  color: var(--color-grey-light);
}

header #menu-btn {
  color: var(--color-primary);
}

header #menu-btn:hover {
  color: var(--color-white);
  background-color: var(--color-primary);
}

/* Main */
/* Welcome section */
main #welcome {
  width: var(--responsive-width);
}

main #welcome h2 {
  color: var(--color-primary);
}

main #welcome p {
  color: var(--color-secondary);
}

/* Discover section */
main #discover .heading-background {
  color: var(--color-white);
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("./images/coffee-on-a-table.jpg");
  background-attachment: fixed;
  background-size: cover;
  background-position: bottom center;
}

main #discover .row {
  width: var(--responsive-width);
}

main #discover .card .card-title {
  font-family: var(--font-primary);
  color: var(--color-primary);
  font-size: 1.6rem;
}

main #discover .card .card-text {
  color: var(--font-secondary);
}

/* Events Section */
main #events {
  background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)),
    url("./images/restaurant-event.jpg");
  background-size: cover;
  background-position: center;
  padding-top: 5rem;
  padding-bottom: 7.6rem;
}

main #events h2 {
  color: var(--color-white);
}

main #events .container {
  width: var(--responsive-width);
}

main #events .carousel-indicators {
  margin-bottom: 0;
  top: 105%;
}

main #events .container .carousel-inner .carousel-item {
  max-height: 43.75rem;
  /* Border radius for screen sizes smaller than 992px(lg) */
  border-radius: 1.2rem;
  overflow: hidden;
}

main #events .container .carousel-inner img,
main #events .container .carousel-inner .col-12:nth-of-type(2) {
  /* 350px / 16px */
  height: 21.175rem;
}

main #events .container .carousel .col-12:nth-of-type(2) {
  background-color: var(--color-grey-light);
}

main #events .container .carousel h3 {
  color: var(--color-primary);
  font-family: var(--font-primary);
}

main #events .container .carousel p {
  color: var(--color-secondary);
}

main #events .container .carousel div .btn {
  background-color: var(--color-primary);
  color: var(--color-white);
  border: 2px solid var(--color-primary);
  transition: all 0.25s linear;
}

/* @@@@@@ to do - Change the hover styling. Try focus-ring class from Bootstrap docs */
main #events .container .carousel div .btn:hover {
  background-color: var(--color-grey-light);
  color: var(--color-primary);
}

main #events .container .carousel .carousel-control-prev-icon,
main #events .container .carousel .carousel-control-next-icon {
  padding: 1.2rem;
  /* Implement background color to diferentiate from background on screen sizes smaller than 992px */
  background-color: var(--color-secondary);
  border-radius: 50%;
}

/* Media Queries */
/* Use the display: inline-block so that the border-bottom is the same width as the nav link content */
@media only screen and (max-width: 1200px) {
  header #navbar .nav-link {
    display: inline-block;
  }
}

@media only screen and (max-width: 992px) {
  /* Create a small gap between the prev and next buttons and the edges of the container */
  main #events .container .carousel .carousel-control-prev {
    left: 0.4rem;
  }
  main #events .container .carousel .carousel-control-next {
    right: 0.4rem;
  }
}

@media only screen and (max-width: 576px) {
  header #navbar .navbar-brand img {
    width: 8rem;
  }

  header .container p {
    font-size: 0.8rem;
  }
}
